:root {
    --foreground: #ffe5e6;
    --background: #B60102;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", serif;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Itim", cursive;
}

main {
    text-align: center;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--background);
    padding: 20px;
    flex-direction: row;
    text-align: center;
    height: 150px;
    margin-bottom: 50px;
}

header div {
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

a {
    text-decoration: none;
}

.detailButtons {
    background-color: var(--foreground);
    border: 1px solid black;
    width: 190px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    margin: 0 auto;
}

#info {
    margin-bottom: 20px;
}

.detailButtons:hover {
    transform: scale(1.1);
}

.detailsHeader {
    justify-content: space-around;
}

#pokemonDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

.typesContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.typesContainer div:hover .type-name {
    opacity: 1;
}

.type-name {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: black;
}

.typesContainer div {
    width: 100%;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    margin: 10px auto;
}

.typesContainer img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
}

.typesContainer img:hover {
    transform: scale(1.1);
}

.typesContainer img {
    width: 100px;
    height: auto;
}

.pokemonCard,
.favorite-card {
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to bottom, var(--foreground) 50%, var(--background) 50%);
    color: black;
    cursor: pointer;
    transition: transform 0.3s;
    width: 210px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemonCard img,
.favorite-card img {
    width: 150px;
    height: auto;
}

.pokemonCard p {
    font-size: 30px;
    margin-top: 30px;
}

.pokemonCard:hover,
.typesContainer div:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#pokemonDisplayContainer {
    display: none;
    text-align: center;
}

#returnButton {
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    background-color: var(--background);
    color: white;
    margin: 20px auto;
}

#searchBar {
    width: 200px;
    height: 30px;
    margin: 10px;
}

dialog {
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 100%;
    height: 80%;
    max-width: 600px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog p {
    font-size: 40px;
}

::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

/* Details Page */

#pokemonDetailContainer img {
    width: 250px;
    height: auto;
    margin: 20px;
    background: linear-gradient(to bottom, var(--foreground) 50%, var(--background) 50%);
}

#pokemonDetailContainer img:hover {
    transform: scale(1.05);
}


#pokemonDetailContainer {
    text-align: center;
}

.evolution-chain {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.evolution-step {
    cursor: pointer;
    text-align: center;
}

.evolution-step img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.evolution-step span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.criesButton {
    margin: 20px auto;
}

.typetextarea,
.pokemon-moves {
    background-color: var(--foreground);
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.typetextarea p {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.pokemon-moves {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
}

.pokemon-moves p {
    padding: 10px;
}

.pokemon-move {
    width: 90%;
    height: auto;
    margin: 10px auto;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--background)
}

.card-detail-body h1 {
    text-decoration: none;
    margin: 20px;
}

.card-detail-body h2 {
    text-decoration: underline;
}

.criesDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 35%;
    margin: 0 auto;
}

/* Favorites Page */

.favorite-card {
    margin: 80px auto;
}

.favorite-card h2 {
    font-size: 30px;
    margin-top: 60px;
}


.favorite-card:hover {
    transform: scale(1.1);
}

.favorite-card button {
    font-size: 18px;
    background-color: var(--foreground);
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}

.favorite-card button:hover {
    background-color: var(--background);
    color: white;
}

.favorites-body {
    text-align: center;
}

#favoritesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.favorites-body h1 {
    text-decoration: underline;
    color: white;
}

.favorites-body header {
    justify-content: space-around;
}

.empty-message {
    grid-column: span 4;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Dark Mode */

/*body.dark-mode,
.card-detail-body {
    background-color: #302f2f;
    color: white;
}
*/

body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode header,
body.dark-mode .detailsHeader {
    background-color: #666363;
}

body.dark-mode .pokemonCard,
body.dark-mode .pokemon-move {
    background-color: #333;
}

body.dark-mode #returnButton,
body.dark-mode.detailButtons {
    background-color: white;
    color: black;
}

body.dark-mode .type-name {
    color: white;
}

body.dark-mode .pokemonCard,
body.dark-mode .favorite-card {
    background: linear-gradient(to bottom, #aba6a6 50%, #666363 50%);
}

body.dark-mode .favorite-card button {
    color: black;
    background-color: white;
    border: 1px solid black;
}

body.dark-mode .favorite-card button:hover {
    background-color: #666363;
    color: white;
}

body.dark-mode #pokemonDetailContainer img {
    background: linear-gradient(to bottom, #aba6a6 50%, #666363 50%);
}

body.dark-mode .pokemon-moves,
body.dark-mode .typetextarea {
    background-color: #4f4d4d;
}