:root {
    --foreground: #ffe5e6;
    --background: #B60102;
    --water: #4f72d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", serif;
}

h1,
h2,
h3,
h4,
h5,
button {
    font-family: "Itim", cursive;
}

main {
    text-align: center;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    padding: 20px;
    flex-direction: row;
    text-align: center;
    height: 150px;
    margin-bottom: 50px;
}

header div {
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    color: black;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

a {
    text-decoration: none;
}

.info {
    background-color: var(--foreground);
    border: 1px solid black;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pokemonDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
}

.typesContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.typesContainer div:hover .type-name {
    opacity: 1;
}

.type-name {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: black;
}

.typesContainer div {
    width: 100%;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    margin: 10px auto;
}

.typesContainer img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
}

.typesContainer img:hover {
    transform: scale(1.1);
}

.typesContainer img {
    width: 100px;
    height: auto;
}

.pokemonCard {
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to bottom, var(--foreground) 50%, var(--background) 50%);
    color: black;
    cursor: pointer;
    transition: transform 0.3s;
    width: 210px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemonCard img {
    width: 150px;
    height: auto;
}

.pokemonCard p {
    font-size: 30px;
    margin-top: 30px;
}

.pokemonCard:hover,
.typesContainer div:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#pokemonDisplayContainer {
    display: none;
    text-align: center;
}

#returnButton {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    background-color: var(--background);
    color: white;
    margin: 20px auto;
}

#searchBar {
    width: 200px;
    height: 30px;
    margin: 10px;
}